.datepicker-wapper {
  width: 240px;
  font-size: 16px;
  color: #666;
  box-shadow: 2px 2px 8px 2px rgba(128, 128, 128, 0.3);
  display: none;
  position: absolute;
}
.datepicker-wapper .datepicker-header {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  background: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  text-align: center;
}
.datepicker-wapper .datepicker-tag {
  padding: 10px 40px;
}
.datepicker-wapper .datepicker-tag:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #666;
  cursor: pointer;
}
.datepicker-wapper .datepicker-btn {
  font-family: serif;
  font-size: 20px;
  width: 20px;
  height: 40px;
  line-height: 40px;
  color: #1abc9c;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.datepicker-wapper .datepicker-prev-btn {
  float: left;
}
.datepicker-wapper .datepicker-next-btn {
  float: right;
}
.datepicker-wapper table {
  width: 100%;
  border-collapse: collapse;
}
.datepicker-wapper th,
.datepicker-wapper td {
  height: 30px;
  line-height: 30px;
}
.datepicker-wapper th {
  font-size: 12px;
  height: 40px;
  line-height: 40px;
}
.datepicker-wapper td {
  border: 1px solid #f0f0f0;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}
.datepicker-wapper td:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #666;
}
.datepicker-wapper .today {
  background: #1abc9c;
  color: #fff;
}
.datepicker-wapper .today:hover {
  background: #1abc9c;
  color: #fff;
}
.datepicker-wapper .old {
  color: #aaa;
}
.datepicker-wapper .month {
  padding: 10px;
}
.datepicker-wapper-show {
  display: block;
}
